*{font-family: 'Lato', sans-serif;
  box-sizing: border-box;}
  h1 {
    font-size: 300%;
    float: left;
  }
  body{

  }
@media (min-width: 1253px ) {
  #image {
    float:right;
    height: 60%;
    width: 60%;
    overflow: hidden;
    margin: 0px;
  }


button {
    clear: left;
margin-left: 15%;
  background-color: rgb(236, 180, 35);
  font-size: 30px;
  border-radius: 10px;
  border : 1px black solid;
  padding: 10px;
  float: left;
}}

@media (max-width: 1252px) {
  #image {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  button {
    background-color: rgb(236, 180, 35);
    margin-top:7%;
width: 100%;
padding: 10px;
    font-size: 300%;
    border-radius: 10px;
    border : 1px black solid;
   display: inline-block;
   text-align: center;
  }
h1 {
  text-align: center;
}
}
button:hover {
  background-color: #FF8484;

}
